<!doctype html>
<title>ABET - Facultad de Ingeniería</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>ABET</h1>
  <h2>FACULTAD DE INGENIERÍA</h2>
  <h3>INTRODUCCIÓN A LA PROGRAMACIÓN</h3>
  <br>
  <h4>Definición de Evaluaciones</h4>
  <br>
  <table border="0">
  <tr>
  <td>Instrumento</td>
  <td align="center">%</td>
  <td width="50">&nbsp;</td>
  <td align="center">A</td>
  <td align="center">B</td>
  <td align="center">C</td>
  <td align="center">D</td>
  <td align="center">E</td>
  <td align="center">F</td>
  <td align="center">G</td>
  <td align="center">H</td>
  <td align="center">I</td>
  <td align="center">J</td>
  <td align="center">K</td>
  <td align="center">Total</td>
  </tr>
  <tr>
  <td><input type=text name="evaluacion1"></td>
  <td><input type=text name="porcentaje1" size="3"></td>
  <td width="50">&nbsp;</td>
  <td><input type=text name="a1" size="3"></td>
  <td><input type=text name="b1" size="3"></td>
  <td><input type=text name="c1" size="3"></td>
  <td><input type=text name="d1" size="3"></td>
  <td><input type=text name="e1" size="3"></td>
  <td><input type=text name="f1" size="3"></td>
  <td><input type=text name="g1" size="3"></td>
  <td><input type=text name="h1" size="3"></td>
  <td><input type=text name="i1" size="3"></td>
  <td><input type=text name="j1" size="3"></td>
  <td><input type=text name="k1" size="3"></td>
  </tr>
  </table>
  {% block body %}
  {% endblock %}
</div>