<!doctype html>
<head>
	<title>ABET - Facultad de Ingeniería</title>
  	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  	<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  	<style>
    	.wrapper {
        	width: 800px;
      	}
  	</style>
  	<script>
  	$(function() {
    	$( "#accordion" ).accordion({
    	  	collapsible: true,
      		active: false,
      		heightStyle: "content"
    	});
    	$(".ui-accordion-content").css("background", "rgb(255,228,181)");
    	$(".ui-accordion-header.ui-state-active").css("background", "rgb(255,228,181)");
  	});
	</script>
  	<script>
  	var sumarPorcentajes = function(event) {
    	event = event || window.event;
    	{% for inst in entries.resprog %}
      		{% for entry in inst %}
        		var numfilas = document.getElementById('tabla{{entry[1]}}{{entry[2]}}').getElementsByTagName('tr').length;
        		var total = 0;
        		for (var i=0; i<numfilas-2; i++) 
        		{
        			total = total + Number($("#tabla{{entry[1]}}{{entry[2]}}").find("#pesoind{{inst[0][1]}}{{entry[2]}}"+String(i))[0].value);
        		}
        		document.getElementById('totalsuma{{inst[0][1]}}{{entry[2]}}').innerHTML = String(total)+'%';
      		{% endfor %}
    	{% endfor %}
  	};
  	</script>
  	<script>
    	$(function(){
        	{% for inst in entries.resprog %}
        		{% for entry in inst %}
        			$("#botonadd{{inst[0][1]}}{{entry[2]}} ").click(function(){
	        			var numfilas = document.getElementById('tabla{{entry[1]}}{{entry[2]}}').getElementsByTagName('tr').length;
            		var htmlToAppend = "<tr><td><select style='width: 600px' name='indicador{{inst[0][1]}}{{entry[2]}}"+String(numfilas-2)+"'><option>---</option>{% for i in entries.indicdesemp %}{% if i[2] == entry[2] %}<option>{{i[0]}}: {{i[1]}}</option>{% endif %}{% endfor %}</select></td><td width='20'>&nbsp;</td><td><input type=number step='1' min='0' max='100' name='pesoind{{inst[0][1]}}{{entry[2]}}"+String(numfilas-2)+"' id='pesoind{{inst[0][1]}}{{entry[2]}}"+String(numfilas-2)+"'onchange='sumarPorcentajes()' size='3'><input type=hidden name='numeroDeFilas{{inst[0][1]}}{{entry[2]}}' id='numeroFilas{{inst[0][1]}}{{entry[2]}}' value='"+String(numfilas+1)+"'></td></tr>";
		            	$("#tabla{{entry[1]}}{{entry[2]}} > tbody > tr").eq(numfilas-1).before(htmlToAppend);
    		        numfilas = numfilas + 1;
                $("#forma").find("#numeroFilas{{inst[0][1]}}{{entry[2]}}")[0].value = numfilas;
        			});
        			$("#botondel{{inst[0][1]}}{{entry[2]}} ").click(function(){
	        			var numfilas = document.getElementById('tabla{{entry[1]}}{{entry[2]}}').getElementsByTagName('tr').length;
	        			if(numfilas>3)
	        			{
			            $("#tabla{{entry[1]}}{{entry[2]}} tr:nth-last-of-type(2)").remove();
    			        numfilas = numfilas - 1;
                  $("#forma").find("#numeroFilas{{inst[0][1]}}{{entry[2]}}")[0].value = numfilas;
    			      }
    			      sumarPorcentajes();
        			});
        		{% endfor %}
        	{% endfor %}
    	});
  	</script>
</head>

<body onload="sumarPorcentajes()">
<div class=page>
  {% block body %}
  <table>
  <tr>
    <td><img src="../../../static/logo.png"></td>
    <td width="20">&nbsp;</td>
    <td><h4>Facultad de Ingeniería<br>{{entries.detalles[6]}}</h4></td>
  </tr>
  </table>
  <h1>PROCESO DE ACREDITACIÓN INTERNACIONAL ABET <form action="{{ url_for('logout')}}">
        <input type=submit value='Log Out'>
        </form></h1>
  <hr>
  <h4>{{ entries.detalles[0] }} - Grupo {{ entries.detalles[2] }}</h4>
  <h4>Período {{ entries.detalles[3] }}</h4>
  <br>
  <form name="forma" id="forma" action="{{ url_for('guardarPesosIndicadores', periodo=entries.detalles[3], codigo=entries.detalles[1], grupo=entries.detalles[2])}}" method=post>
  <div class="wrapper">
  <div id="accordion">
    {% for inst in entries.resprog %}
    <h5>Dimensiones de {{ inst[0][0] }}</h5>
    <div>
      {% for entry in inst %}
        <table id="tabla{{entry[1]}}{{entry[2]}}" border="0">
          <tr>
            <td width="600">Resultado de Programa {{ entry[2] }}: {{ entry[4] }}</td>
            <td width="20">&nbsp;</td>
            <td align="center" size="3">Peso (%)</td>
          </tr>
          {% if entry[5][0] == 0 %}
            <tr>
              <td>
                <select style="width: 600px" name="indicador{{inst[0][1]}}{{entry[2]}}0">
                  <option>---</option>
                  {% for i in entries.indicdesemp %}
                    {% if i[2] == entry[2] %}
                      <option>{{i[0]}}: {{i[1]}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </td>
              <td width="20">&nbsp;</td>
              <td><input type="number" step="1" min="0" max="100" name="pesoind{{inst[0][1]}}{{entry[2]}}0" onchange="sumarPorcentajes()" size="3" id="pesoind{{inst[0][1]}}{{entry[2]}}0"><input type=hidden name="numeroDeFilas{{inst[0][1]}}{{entry[2]}}" id="numeroFilas{{inst[0][1]}}{{entry[2]}}" value="3"></td>
            </tr>
          {% else %}
            {% for k in range(1,entry[5][0]+1) %}
              <tr>
                <td>
                  <select style="width: 600px" name="indicador{{inst[0][1]}}{{entry[2]}}{{k-1}}">
                    <option>---</option>
                    {% for i in entries.indicdesemp %}
                      {% if i[2] == entry[2] %}
                        {% if i[0] == entry[5][k][0] %}
                          <option selected="selected">{{i[0]}}: {{i[1]}}</option>
                        {% else %}
                          <option>{{i[0]}}: {{i[1]}}</option>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  </select>
                </td>
                <td width="20">&nbsp;</td>
                <td><input type="number" step="1" min="0" max="100" name="pesoind{{inst[0][1]}}{{entry[2]}}{{k-1}}" onchange="sumarPorcentajes()" size="3" id="pesoind{{inst[0][1]}}{{entry[2]}}{{k-1}}" value="{{entry[5][k][1]}}"><input type=hidden name="numeroDeFilas{{inst[0][1]}}{{entry[2]}}" id="numeroFilas{{inst[0][1]}}{{entry[2]}}" value="{{entry[5][0]+2}}"></td>
              </tr>
            {% endfor %}
          {% endif %}
          <tr>
            <td align="right"></td>
            <td align="right">Total</td>
            <td align="center" size="3"><div id="totalsuma{{inst[0][1]}}{{entry[2]}}">0%</div></td>
          </tr>
        </table>
        <input type="button" id="botonadd{{inst[0][1]}}{{entry[2]}}" value="+">
        <input type="button" id="botondel{{inst[0][1]}}{{entry[2]}}" value="-">
        <br>
      {% endfor %}
      </div>
    {% endfor %}
  </div>
  </div>
  <br>
  <input type=submit value='Guardar'>
  </form>
  <form name="botonvolver" action="{{ url_for('instrumentos', periodo=entries.detalles[3], codigo=entries.detalles[1], grupo=entries.detalles[2])}}">
  <input type=submit value='Volver a definir evaluaciones para {{entries.detalles[0]}}'>
  </form>
  {% endblock %}
</div>
</body>
