<!doctype html>
<head>
    <title>ABET - Facultad de Ingeniería</title>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <style>
        .wrapper {
            width: 800px;
        }
    </style>
    <script>
        $(function() {
            $( "#tabs" ).tabs();
            $(".ui-tabs").css("background", "rgb(255,228,181)");
            $(".ui-tabs-panel").css("background", "rgb(255,228,181)");
            $(".ui-tabs-nav").css("background", "transparent");
        });
    </script>
    <script>
        $(function() {
            $( document ).tooltip();
        });
    </script>
</head>

<body>
<div class=page>
    <table>
        <tr>
            <td><img src="../../../static/logo.png"></td>
            <td width="20">&nbsp;</td>
            <td><h4>Facultad de Ingeniería<br>{{entries.detalles[6]}}</h4></td>
        </tr>
    </table>
    <h1>PROCESO DE ACREDITACIÓN INTERNACIONAL ABET <form action="{{ url_for('logout')}}">
        <input type=submit value='Log Out'>
        </form></h1>
    <hr>
    <h4>{{ entries.detalles[0] }} - Grupo {{ entries.detalles[2] }}</h4>
    <h4>Período {{ entries.detalles[3] }}</h4>
    {% block body %}

    <form name="forma" id="forma">
        <div id="tabs">
            <ul>
                <li><a href="#tabs-0">Consolidado</a></li>
                {% for i in range(1,entries.numinstrumentos+1) %}
                    <li><a href="#tabs-{{i}}">{{entries.resprog[i-1][1][0]}}</a></li>
                {% endfor %}
            </ul>
            <div id="tabs-0">
                <table name="tabla{{i}}" id="tabla{{i}}" border="0">
                    <tr>
                        <td>Estudiante</td>
                            {% for j in range(0,entries.conteo) %}
                               <td width="10">&nbsp;</td>
                               <td align="center" title="{{ entries.formula[j][2] }}">{{ entries.formula[j][0] }}</td>
                            {% endfor %}
                        <td width="10">&nbsp;</td>
                        <td>Definitiva</td>
                    </tr>
                    {% if entries.numestudiantes > 0 %}
                            {% for k in entries.estudiantes %}
                            <tr>
                                {% for j in entries.notasIndicadores[entries.idinst[0]].keys() %}
                                    {% if j == k[1] %}
                                        <td>{{k[0]}}</td>
                                    {% endif %}
                                {% endfor %}
                                {% for j in entries.resultadosTotales[k[1]].keys() %}
                                    <td width="10">&nbsp;</td>
                                    <td align="center">{{entries.resultadosTotales[k[1]][j]}}</td>
                                {% endfor %}
                                <td width="10">&nbsp;</td>
                                <td align="center">{{entries.notasDefinitivas[k[1]]}}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
            {% for i in range(1,entries.numinstrumentos+1) %}
                <div id="tabs-{{i}}">
                    <table name="tabla{{i}}" id="tabla{{i}}" border="0">
                        <tr>
                            <td>Estudiante</td>
                                {% for j in range(1,entries.resprog[i-1][0]+1) %}
                                    <td width="10">&nbsp;</td>
                                    <td align="center" title="{{ entries.resprog[i-1][j][4] }}">{{ entries.resprog[i-1][j][2] }}</td>
                                {% endfor %}
                            <td width="10">&nbsp;</td>
                            <td>Nota</td>
                        </tr>
                        {% if entries.numestudiantes > 0 %}
                            {% for k in entries.estudiantes %}
                                <tr>
                                    {% for j in entries.notasIndicadores[entries.idinst[i-1]].keys() %}
                                        {% if j == k[1] %}
                                            <td>{{k[0]}}</td>
                                        {% endif %}
                                    {% endfor %}
                                    {% for j in range(1,entries.resprog[i-1][0]+1) %}
                                        {% if entries.notasIndicadores[entries.idinst[i-1]][k[1]] != {} %}
                                            {% for l in entries.notasIndicadores[entries.idinst[i-1]].keys() %}
                                                {% for m in entries.notasIndicadores[entries.idinst[i-1]][l].keys() %}
                                                    {% if k[1] == l and m == entries.resprog[i-1][j][2]%}
                                                        <td width="10">&nbsp;</td>
                                                        {% if entries.notasIndicadores[entries.idinst[i-1]][l][m] != {}%}
                                                            <td align="center">{{entries.notasIndicadores[entries.idinst[i-1]][l][m]}}</td>
                                                        {% else %}
                                                            <td align="center">0</td  >
                                                        {% endif %}    
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% else %}
                                            <td width="10">&nbsp;</td>
                                            <td align="center">0.0</td>
                                        {% endif %}
                                    {% endfor %}
                                    {% if entries.notasInstrumentos[entries.idinst[i-1]][k[1]] != {} %}
                                        {% for l in entries.notasInstrumentos[entries.idinst[i-1]].keys() %}
                                            {% if k[1] == l %}
                                                <td width="10">&nbsp;</td>
                                                <td align="center">{{entries.notasInstrumentos[entries.idinst[i-1]][l]}}</td>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        <td width="10">&nbsp;</td>
                                        <td align="center">0.0</td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            {% endfor %}
        </div>
        <br>
    </form>

    <form action="{{ url_for('notas', periodo=entries.detalles[3], codigo=entries.detalles[1], grupo=entries.detalles[2]) }}" method=post>
        <input type=submit value='Ingresar Notas'><br>
    </form>
    <form action="{{ url_for('instrumentos', periodo=entries.detalles[3], codigo=entries.detalles[1], grupo=entries.detalles[2]) }}" method=post>
        <input type=submit value='Definir Evaluaciones'>
    </form>
    <form action="{{ url_for('show_courses', periodo=entries.periodo) }}">
        <input type=submit value='Volver al listado de cursos'>
    </form>
    {% endblock %}
</div>
</body>