<!doctype html>
<title>ABET - Facultad de Ingeniería</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>ABET</h1>
  <h2>FACULTAD DE INGENIERÍA</h2>
  <h3>{{ entries.title }} - Grupo {{ entries.grupo }}</h3>
  {% block body %}
  <form action="{{ url_for('notas', codigo=entries.cod, grupo=entries.grupo) }}" method=post>
    <input type=submit value='Ingresar Notas'><br>
  </form>
  <form action="{{ url_for('evaluaciones', codigo=entries.cod, grupo=entries.grupo) }}" method=post>
    <input type=submit value='Definir Evaluaciones'>
  </form>
  {% endblock %}
</div>