<!doctype html>
<head>
  <title>ABET - Facultad de Ingeniería</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
  <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
  <script>
  var sumarCeldas = function(event) {
    event = event || window.event;
    // Suma de cada columna
    {% for entry in entries.resprog %}
      var total = Number(document.tabla.{{ entry[0] }}1.value)
      {% for k in range(2,11) %}
        + Number(document.tabla.{{ entry[0] }}{{k}}.value)
      {% endfor %};
      document.getElementById('suma{{ entry[0] }}').innerText = total;
    {% endfor %}

    // Suma de cada fila
    {% for k in range(1,11) %}
      var total = 0
      {% for entry in entries.resprog %}
          + Number(document.tabla.{{ entry[0] }}{{k}}.value)
      {% endfor %};
      document.getElementById('fila{{k}}').innerText = total;
    {% endfor %}

    // Suma de los totales
    var total = 0
    {% for k in range(1,11) %}
      + Number(document.getElementById('fila{{k}}').innerText)
    {% endfor %};
    document.getElementById('totalsuma').innerText = total;

    // Calculo del objetivo
    {% for entry in entries.resprog %}
      var total = Number(document.getElementById('totalsuma').innerText)*{{ entry[1] }}/{{ entries.suma }};
      document.getElementById('objetivo{{ entry[0] }}').innerText = parseInt(total,10);
    {% endfor %}

    // Calculo de la diferencia
    {% for entry in entries.resprog %}
      var total = Number(document.getElementById('suma{{ entry[0] }}').innerText) - Number(document.getElementById('objetivo{{ entry[0] }}').innerText);
      document.getElementById('diferencia{{ entry[0] }}').innerText = parseInt(total,10);
    {% endfor %}
  };
  </script>
  <script>
  var sumarPorcentajes = function(event) {
    event = event || window.event;
    var total = 0
    {% for k in range(1,11) %}
      + Number(document.tabla.porcentaje{{k}}.value)
    {% endfor %};
    document.getElementById('porcentajetotal').innerText = String(total)+'%';
  };
  </script>
  <script>
  var paraCargar = function(event) {
    event = event || window.event;
    sumarCeldas(event);
    sumarPorcentajes(event);
  };
  </script>
</head>

<body {% if entries.hayeval %}onload="paraCargar()"{% endif %}>
<div class=page>
  {% block body %}
  <h1>PROCESO DE ACREDITACIÓN INTERNACIONAL ABET</h1>
  <h2>PONTIFICIA UNIVERSIDAD JAVERIANA - CALI</h2>
  <h3>FACULTAD DE INGENIERÍA</h3>
  <h4>{{ entries.detalles[0] }} - Grupo {{ entries.detalles[2] }}</h4>
  <h4>Período {{ entries.detalles[3] }}</h4>
  <br>
  <h5>Definición de Evaluaciones</h5>
  <br>

  <form name="tabla" action="{{ url_for('guardarPesos', codigo=entries.detalles[1], grupo=entries.detalles[2])}}" method=post>
  <table border="0">
    <tr>
      <td>Instrumento</td>
      <td align="center">%</td>
      <td width="50">&nbsp;</td>
      {% for entry in entries.resprog %}
        <td align="center">{{ entry[0] }}</td>
      {% endfor %}
      <td align="center">Total (%)</td>
    </tr>
    {% for k in range(1,11) %}
      <tr>
        <td><input type=text name="evaluacion{{k}}" {% if entries.hayeval %}value='{{ entries.evaluaciones[(k-1)*entries.conteo][0] }}'{% endif %}></td>
        <td><input type=text name="porcentaje{{k}}" onchange="sumarPorcentajes()" size="3" {% if entries.hayeval %}value='{{ entries.evaluaciones[(k-1)*entries.conteo][1] }}'{% endif %}></td>
        <td width="150">&nbsp;</td>
        {% for j in range(0,entries.conteo) %}
          <td><input type=text name="{{ entries.resprog[j][0] }}{{k}}" onchange="sumarCeldas()" size="3" {% if entries.hayeval %}value='{{ entries.evaluaciones[((k-1)*entries.conteo)+j][3] }}'{% endif %}></td>
        {% endfor %}
        <td align="center"><div id="fila{{k}}">0</div></td>
      </tr>
    {% endfor %}
    <tr>
      <td align="right">Total</td>
      <td align="center"><div id="porcentajetotal">0%</div></td>
      <td align="right">Suma:</td>
      {% for entry in entries.resprog %}
        <td align="center"><div id="suma{{ entry[0] }}">0</div></td>
      {% endfor %}
      <td align="center"><div id="totalsuma">0</div></td>
    </tr>
    <tr>
      <td align="right"></td>
      <td align="center"></td>
      <td align="right">Objetivo:</td>
      {% for entry in entries.resprog %}
        <td align="center"><div id="objetivo{{ entry[0] }}">0</div></td>
      {% endfor %}
    </tr>
    <tr>
      <td align="right"></td>
      <td align="center"></td>
      <td align="right">Diferencia:</td>
      {% for entry in entries.resprog %}
        <td align="center"><div id="diferencia{{ entry[0] }}">0</div></td>
      {% endfor %}
    </tr>
  </table>
  <br>
  <input type=submit value='Guardar'>
  </form>
  <form name="botonseguir" action="{{ url_for('evaluaciones', codigo=entries.detalles[1], grupo=entries.detalles[2])}}">
  <input type=submit value='Definir los detalles de los Instrumentos'>
  </form>
  <form name="botonvolver" action="{{ url_for('asignatura', codigo=entries.detalles[1], grupo=entries.detalles[2])}}">
  <input type=submit value='Volver a {{entries.detalles[0]}}'>
  </form>
  {% endblock %}
</div>
</body>
