<!doctype html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABET - Facultad de Ingeniería</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class=page>
        <table>
            <tr>
                <td><img src="../../static/logo.png"></td>
                <td width="20">&nbsp;</td>
                <td><h4>Facultad de Ingeniería<br></h4></td>
            </tr>
        </table>
        <h1>PROCESO DE ACREDITACIÓN INTERNACIONAL ABET <form action="{{ url_for('logout')}}"><p>Bienvenido {{ entries.usuario }} </p>
        <input type=submit value='Log Out'>
        </form></h1>
        <hr>
        <br>        
        <br>
        {% block body %}
            Listado de cursos del período {{ entries.cursos[0].periodo }}:
            <ul>
            {% for carreras in entries.carreras %}
                <label>{{carreras[0]}}:</label>
                <br><br>
                {% for entry in entries.cursos %}
                    {% if entry.carrera == carreras[1] %}
                        <li><a href="{{ url_for('asignatura', periodo=entry.periodo, codigo=entry.cod, grupo=entry.grupo) }}">{{ entry.title }}</a>
                        <br><br>
                    {% endif %}
                    {% else%}
                        <em>No hay cursos.</em>
                {% endfor %}
            {% endfor %}
            </ul>
             <form action="{{ url_for('show_periods')}}">
        <input type=submit value='Volver al listado de periodos'>
    </form>
        {% endblock %}
    </div>
</body>