<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABET - Facultad de Ingeniería</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <table>
            <tr>
                <td><img src="http://escher.puj.edu.co:5000/static/logo.png"></td>
                <td width="20">&nbsp;</td>
                <td><h4>Facultad de Ingeniería<br></h4></td>
            </tr>
        </table>
        <h1>PROCESO DE ACREDITACIÓN INTERNACIONAL ABET</h1>
        <hr>
        {% block body %}
            <form name="forma" id="forma" action="{{ url_for('guardarReporte', periodo=entries.detalles[3], codigo=entries.detalles[1], grupo=entries.detalles[2])}}" method="post">
            <h2 class="thickh2">Formato Evaluación Cursos ABET {{ entries.detalles[3] }}</h2>
            <hr>
            <ul>
                <li>Nombre del curso: {{ entries.detalles[0] }}</li>
                <li>Coordinador del curso: {{ entries.detalles[7] }}</li>
                <li>Periodo academico: {{ entries.detalles[3] }}</li>
            </ul>

            <h2 class="thickh2">I. Contribución del curso a los resultados de estudiantes</h2>
            <hr>
            <h3> Por mediciones directas de desempeños</h3>
            <hr>
            El consolidado de las notas de los estudiantes se encuentra en el archivo adjunto: Notas {{ entries.detalles[3] }}.<br>
            Comentarios:<br>
             <p name="1comments1" >
                {{ entries.store['1comments1'] }}
            </p>
            <table class='note-table'>
              <tr>
                <td class='FHborder-table'>Grupo</td>
                <td class='Hborder-table'>A</td>
                <td class='Hborder-table'>B</td>
                <td class='Hborder-table'>C</td>
                <td class='Hborder-table'>D</td>
                <td class='Hborder-table'>E</td>
                <td class='Hborder-table'>F</td>
                <td class='Hborder-table'>G</td>
                <td class='Hborder-table'>H</td>
                <td class='Hborder-table'>I</td>
                <td class='Hborder-table'>J</td>
                <td class='Hborder-table'>K</td>
              </tr>
              <tr>
                <td class='Fborder-table'>  {{ entries.estud }} estudiantes que terminan  </td>
               {% for j in entries.ordcompt %}
                    {% if entries.promgeneralind[j] > 0 %}
                        <td class='border-table'>{{ entries.promgeneralind[j] }}</td>
                    {% else %}
                        <td class='border-table'></td>
                    {% endif %}

                {% endfor %}
              </tr>
              <tr>
                <td class='FLborder-table'>  {{ entries.estud - entries.perder }} estudiantes que aprobaron  </td>
                {% for j in entries.ordcompt %}
                    {% if entries.promgeneralindaprob[j] > 0 %}
                        <td class='Lborder-table'>{{ entries.promgeneralindaprob[j] }}</td>
                    {% else %}
                        <td class='Lborder-table'></td>
                    {% endif %}

                {% endfor %}
               
              </tr>
            </table>
                 <p name="1comments2" >{{ entries.store['1comments2'] }}</p>       
        <table class='note-table'>
            <caption class='caption-style'>Población Total</caption>
            <tr>
                <td class='Fborder-table'>  Promedio </td>
               {% for j in entries.ordcompt %}
                    {% if entries.promgeneralind[j] > 0 %}
                        <td class='border-table'>{{ entries.promgeneralind[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}
              </tr>
            <tr>
                <td class='Fborder-table'> Desv. Estandar </td>
                {% for j in entries.ordcompt %}
                    {% if entries.desviacion[j] > 0 %}
                        <td class='border-table'>{{ entries.desviacion[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <td class='Fborder-table'> DE/Promedio </td>
                {% for j in entries.ordcompt %}
                    {% if entries.devmed[j] > 0 %}
                        <td class='border-table'>{{ entries.devmed[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}

            </tr>
            <tr>
                <td class='Fborder-table'> Mínimo </td>
                {% for j in entries.ordcompt %}
                    {% if entries.minimo[j] > 0 %}
                        <td class='border-table'>{{ entries.minimo[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}

            </tr>
            <tr>
                <td class='Fborder-table'> Máximo </td>
                {% for j in entries.ordcompt %}
                    {% if entries.maximo[j] > 0 %}
                        <td class='border-table'>{{ entries.maximo[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <td class='FSborder-table'> No. Estudiantes </td>
                {% for j in entries.ordcompt %}
                    {% if j=='K' %}
                        <td class='Sborder-table'>{{ entries.estud }}</td>
                    {% else %}
                        <td class='Sborder-table'></td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <td class='FLborder-table'> % Aprueban </td>
                {% for j in entries.ordcompt %}
                    {% if entries.promgeneralindaprob[j] > 0 %}
                        <td class='Lborder-table'>{{ entries.promgeneralindaprob[j] }} %</td>
                    {% else %}
                        <td class='Lborder-table'>0%</td>
                    {% endif %}

                {% endfor %}
            </tr>

        </table>
        <table class='note-table'>
            <caption class='caption-style'>Estudiantes que aprobaron</caption>
            <tr>
                <td class='FLborder-table'>  Promedio </td>
               {% for j in entries.ordcompt %}
                    {% if entries.promgeneralindaprob[j] > 0 %}
                        <td class='Lborder-table'>{{ entries.promgeneralindaprob[j] }}</td>
                    {% else %}
                        <td class='Lborder-table'>0.00</td>
                    {% endif %}

                {% endfor %}
              </tr>
            <tr>
        </table>

        <h3>Descripción del método utilizado para recoger la información referida</h3>
        <hr>
        <p name="1comments3" >
            {{ entries.store['1comments3'] }}
        </p>
        <table class='note-table'>
            <tr>
                <th class='Fborder-table'> Instrumento</th>
                <th class='border-table'> Porcentaje en la nota del curso</th>
                <td class='border-table' colspan="11" style='text-align: center;'>  
                    <table width="100%">
                   <tr> 
                   <th colspan="11" style='border-bottom:2px solid;'>Porcentaje evaluado en cada competencia</th>
                   </tr>
                   <tr>
                   {% for i in entries.ordcompt %}
                        <td class='Cborder-table' style='text-align: left;'> {{ i }} </td>
                    {% endfor %}
                   </tr>
                   </table>
                </td>
            </tr>
            {% for j in entries.instrumentos %}
                <tr>
                    <td class='Fborder-table'>{{ j }} </td>
                    <td class='border-table'> {{ entries.inspor[j] }} </td>
                    {% for i in entries.ordcompt %}
                        <td class='border-table'> {{ entries.inscompt[j][i] }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td class='FLborder-table' style=''><b>Porcentaje Total Evaluado</b> </td>
                <td class='Lborder-table'> <b> 100% </b></td>
                {% for j in entries.ordcompt %}
                    {% if entries.promins[j] > 0 %}
                        <td class='Lborder-table'><b>{{ entries.promins[j] }} </b></td>
                    {% else %}
                        <td class='Lborder-table'></td>
                    {% endif %}

                {% endfor %}

            </tr>
        </table>
        Comentarios:<br>
        A continuación se presenta una breve descripción de los instrumentos de medición directa:<br>
        <ul>
            {% for j in entries.instrumentos %}

                    <li>{{ j }}:</li><p name= '{{ j }}'> {{ entries.store[j] }} </p>

            {% endfor %}
        </ul>
        <h2 class="thickh2">II. Logro de los objetivos de aprendizaje del curso</h2>
        <hr>

        <p name="2comments1" >
            {{ entries.store['2comments1'] }}
        </p>

        <h2 class="thickh2">III. Desarrollo de los procesos del curso</h2>
        <hr>
        <h3>Cubrimiento del programa y del cuerpo de conocimiento</h3>
        Comentarios:<br>
        
        <p name="3comments1">
            {{ entries.store['3comments1'] }}
        </p>


        <hr>
        <h3>Integración curricular (fórmula del curso)</h3>
        <hr>
        Comentarios:<br>
        
        <p name="3comments2" >
            {{ entries.store['3comments2'] }}
        </p>


        <h3>Tiempo de estudio de los estudiantes</h3>
        <hr>
        Comentarios:<br>

        <p name="3comments3" >
            {{ entries.store['3comments3'] }}
        </p>


        <h3>Texto, otras fuentes de información y software</h3>
        <hr>
        Comentarios:<br>
        <p name="3comments4" >
            {{ entries.store['3comments4'] }}
        </p>

        <h3>Instalaciones y Recursos</h3>
        <hr>
        Comentarios:<br>
        
        <p name="3comments5" >
            {{ entries.store['3comments5'] }}
        </p>


        <h3>Políticas y Reglas del Curso</h3>
        <hr>
        Comentarios:<br>
        <p name="3comments6" >
            {{ entries.store['3comments6'] }}
        </p>

        <h2 class="thickh2">IV. Acciones de mejoramiento implementadas en el período académico</h2>
        <hr>
        <h3>En cuanto a la fórmula y balance de evaluación del curso</h3>
        <hr>
        Comentarios:<br>
        <p name="4comments1" >
            {{ entries.store['4comments1'] }}
        </p>

        <h3>En cuanto al contenido del curso</h3>
        <hr>
        Comentarios:<br>
        <p name="4comments2" >
            {{ entries.store['4comments2'] }}
        </p>


        <h3>En cuanto a la metodología del curso</h3>
        <hr>
        <h3>En cuanto a recursos e instalaciones</h3>
        <hr>
        Comentarios:<br>
        <p name="4comments3" >
            {{ entries.store['4comments3'] }}
        </p>

        <h2 class="thickh2">V. Recomendaciones sobre desarrollo futuro</h2>
        <hr>
        <h3>Integración curricular (fórmula del curso)</h3>
        <hr>
        Comentarios:<br>
        <p name="5comments1" >
            {{ entries.store['5comments1'] }}
        </p>

        <h3>Calificación de los resultados de estudiantes</h3>
        <hr>
        Comentarios:<br>
            <p name="5comments2" >
                {{ entries.store['5comments2'] }}
            </p>

        <h3>Áreas de interés especial</h3>
        <hr>
        Comentarios:<br>
            <p name="5comments3" >
                {{ entries.store['5comments3'] }}
            </p>

        <h3>Contenido y programación</h3>
        <hr>
        Comentarios:<br>
        <p name="5comments4" >
            {{ entries.store['5comments4'] }}
        </p>

        <h3>Recursos: texto, otras fuentes de información, software, instalaciones, etc.</h3>
        <hr>
        Comentarios:<br>
        <p name="5comments5" >
            {{ entries.store['5comments5'] }}
        </p>
        <h2 class="thickh2">VI. Comentarios Adicionales</h2>
        <hr>   
        Comentarios:<br>
        <p name="6comments1" >
            {{ entries.store['6comments1'] }}
        </p>
        {% endblock %}
    </div>
</body>
