<!doctype html>
<head>
    <title>ABET - Facultad de Ingeniería</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class=page>
        <table>
            <tr>
                <td><img src="{{ url_for('static', filename='logo.png') }}"></td>
                <td width="20">&nbsp;</td>
                <td><h4>Facultad de Ingeniería<br></h4></td>
            </tr>
        </table>
        <h1>PROCESO DE ACREDITACIÓN INTERNACIONAL ABET</h1>
        <hr>
        <br>
        <br>
        {% block body %}
            <form name="forma" id="forma" action="{{ url_for('guardarReporte', periodo=entries.detalles[3], codigo=entries.detalles[1], grupo=entries.detalles[2])}}" method="post">
            <h2 class="thickh2">Formato Evaluación Cursos ABET {{ entries.detalles[3] }}</h2>
            <hr>
            <ul>
                <li>Nombre del curso: {{ entries.detalles[0] }}</li>
                <li>Coordinador del curso: {{ entries.detalles[7] }}</li>
                <li>Periodo academico: {{ entries.detalles[3] }}</li>
            </ul>

            <h2 class="thickh2">I. Contribución del curso a los resultados de estudiantes</h2>
            <hr>
            <h3> Por mediciones directas de desempeños</h3>
            <hr>
            El consolidado de las notas de los estudiantes se encuentra en el archivo adjunto: <a href="{{ url_for('downloadexcel', filename=entries.nomexcel) }}" download="{{entries.detalles[3]}}{{entries.detalles[1]}}{{entries.detalles[2]}}.xlsx">Notas {{ entries.detalles[3] }}</a> .<br>
            Comentarios:<br>
            {% if entries.load == 0 %}
            <textarea class="textIn" name="1comments1" >
El curso {{ entries.detalles[0] }}


({{ entries.perder }}) estudiantes no aprobaron la asignatura.


La nota más alta del curso fue {{ entries.maxnota }} y la más baja fue {{ entries.minnota }}.


Los promedios del grupo por cada resultado de programa son los siguientes:
            </textarea>
            {% else %}
             <textarea class="textIn" name="1comments1" >
{{ entries.store['1comments1'] }}
            </textarea>
            {% endif %}
            <table class='note-table'>
              <tr>
                <td class='FHborder-table'>Grupo</td>
                <td class='Hborder-table'>A</td>
                <td class='Hborder-table'>B</td>
                <td class='Hborder-table'>C</td>
                <td class='Hborder-table'>D</td>
                <td class='Hborder-table'>E</td>
                <td class='Hborder-table'>F</td>
                <td class='Hborder-table'>G</td>
                <td class='Hborder-table'>H</td>
                <td class='Hborder-table'>I</td>
                <td class='Hborder-table'>J</td>
                <td class='Hborder-table'>K</td>
              </tr>
              <tr>
                <td class='Fborder-table'>  {{ entries.estud }} estudiantes que terminan  </td>
               {% for j in entries.ordcompt %}
                    {% if entries.promgeneralind[j] > 0 %}
                        <td class='border-table'>{{ entries.promgeneralind[j] }}</td>
                    {% else %}
                        <td class='border-table'></td>
                    {% endif %}

                {% endfor %}
              </tr>
              <tr>
                <td class='FLborder-table'>  {{ entries.estud - entries.perder }} estudiantes que aprobaron  </td>
                {% for j in entries.ordcompt %}
                    {% if entries.promgeneralindaprob[j] > 0 %}
                        <td class='Lborder-table'>{{ entries.promgeneralindaprob[j] }}</td>
                    {% else %}
                        <td class='Lborder-table'></td>
                    {% endif %}

                {% endfor %}
               
              </tr>
            </table>
            {% if entries.load == 0 %}
            <textarea class="textIn" name="1comments2" >
Puede notarse que las notas más bajas se encuentran en los resultados de programa {{ entries.lowest[0][0] }}: {{ entries.lowest[0][1] }}  e/y {{ entries.lowest[1][0] }}: {{ entries.lowest[1][1] }}. 

El mejor resultado de programa es  {{ entries.high[0] }} : {{ entries.high[1] }}
A continuación se presenta el resumen de los resultados obtenidos:
            {% else %}
                 <textarea class="textIn" name="1comments2" >{{ entries.store['1comments2'] }}</textarea>
            {% endif %}
            </textarea>
        <table class='note-table'>
            <caption class='caption-style'>Población Total</caption>
            <tr>
                <td class='Fborder-table'>  Promedio </td>
               {% for j in entries.ordcompt %}
                    {% if entries.promgeneralind[j] > 0 %}
                        <td class='border-table'>{{ entries.promgeneralind[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}
              </tr>
            <tr>
                <td class='Fborder-table'> Desv. Estandar </td>
                {% for j in entries.ordcompt %}
                    {% if entries.desviacion[j] > 0 %}
                        <td class='border-table'>{{ entries.desviacion[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <td class='Fborder-table'> DE/Promedio </td>
                {% for j in entries.ordcompt %}
                    {% if entries.devmed[j] > 0 %}
                        <td class='border-table'>{{ entries.devmed[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}

            </tr>
            <tr>
                <td class='Fborder-table'> Mínimo </td>
                {% for j in entries.ordcompt %}
                    {% if entries.minimo[j] > 0 %}
                        <td class='border-table'>{{ entries.minimo[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}

            </tr>
            <tr>
                <td class='Fborder-table'> Máximo </td>
                {% for j in entries.ordcompt %}
                    {% if entries.maximo[j] > 0 %}
                        <td class='border-table'>{{ entries.maximo[j] }}</td>
                    {% else %}
                        <td class='border-table'>0.00</td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <td class='FSborder-table'> No. Estudiantes </td>
                {% for j in entries.ordcompt %}
                    {% if j=='K' %}
                        <td class='Sborder-table'>{{ entries.estud }}</td>
                    {% else %}
                        <td class='Sborder-table'></td>
                    {% endif %}

                {% endfor %}
            </tr>
            <tr>
                <td class='FLborder-table'> % Aprueban </td>
                {% for j in entries.ordcompt %}
                    {% if entries.promgeneralindaprob[j] > 0 %}
                        <td class='Lborder-table'>{{ entries.promgeneralindaprob[j] }} %</td>
                    {% else %}
                        <td class='Lborder-table'>0%</td>
                    {% endif %}

                {% endfor %}
            </tr>

        </table>
        <table class='note-table'>
            <caption class='caption-style'>Estudiantes que aprobaron</caption>
            <tr>
                <td class='FLborder-table'>  Promedio </td>
               {% for j in entries.ordcompt %}
                    {% if entries.promgeneralindaprob[j] > 0 %}
                        <td class='Lborder-table'>{{ entries.promgeneralindaprob[j] }}</td>
                    {% else %}
                        <td class='Lborder-table'>0.00</td>
                    {% endif %}

                {% endfor %}
              </tr>
            <tr>
        </table>

        <h3>Descripción del método utilizado para recoger la información referida</h3>
        <hr>
        {% if entries.load == 0 %}
        <textarea class = 'textIn' name="1comments3">
Los instrumentos de medición directa fueron . Los porcentajes de los instrumentos y las habilidades evaluadas fueron:
        </textarea>
        {% else %}
        <textarea class="textIn" name="1comments3" >
{{ entries.store['1comments3'] }}
        </textarea>
        {% endif %}

        <br>
        <table class='note-table'>
            <tr>
                <th class='Fborder-table'> Instrumento</th>
                <th class='border-table'> Porcentaje en la nota del curso</th>
                <td class='border-table' colspan="11" style='text-align: center;'>  
                    <table width="100%">
                   <tr> 
                   <th colspan="11" style='border-bottom:2px solid;'>Porcentaje evaluado en cada competencia</th>
                   </tr>
                   <tr>
                   {% for i in entries.ordcompt %}
                        <td class='Cborder-table' style='text-align: left;'> {{ i }} </td>
                    {% endfor %}
                   </tr>
                   </table>
                </td>
            </tr>
            {% for j in entries.instrumentos %}
                <tr>
                    <td class='Fborder-table'>{{ j }} </td>
                    <td class='border-table'> {{ entries.inspor[j] }} </td>
                    {% for i in entries.ordcompt %}
                        <td class='border-table'> {{ entries.inscompt[j][i] }} </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            <tr>
                <td class='FLborder-table' style=''><b>Porcentaje Total Evaluado</b> </td>
                <td class='Lborder-table'> <b> 100% </b></td>
                {% for j in entries.ordcompt %}
                    {% if entries.promins[j] > 0 %}
                        <td class='Lborder-table'><b>{{ entries.promins[j] }} </b></td>
                    {% else %}
                        <td class='Lborder-table'></td>
                    {% endif %}

                {% endfor %}

            </tr>
        </table>
        Comentarios:<br>
        A continuación se presenta una breve descripción de los instrumentos de medición directa:<br>
        <ul>
            {% if entries.load == 0 %}
                {% for j in entries.instrumentos %}
                        <li>{{ j }}:</li><input class='textIn2' name= '{{ j }}'></input>
                {% endfor %}
            {% else %}
                {% for j in entries.instrumentos %}

                        <li>{{ j }}:</li><input class='textIn2' name= '{{ j }}' value='{{ entries.store[j] }}'></input>

                {% endfor %}
            {% endif %}
        </ul>
        <h2 class="thickh2">II. Logro de los objetivos de aprendizaje del curso</h2>
        <hr>
        {% if entries.load == 0 %}
        <textarea class='textIn' name="2comments1" ></textarea>
        {% else %}
        <textarea class="textIn" name="2comments1" >
{{ entries.store['2comments1'] }}
        </textarea>
        {% endif %}
        <h2 class="thickh2">III. Desarrollo de los procesos del curso</h2>
        <hr>
        <h3>Cubrimiento del programa y del cuerpo de conocimiento</h3>
        Comentarios:<br>
        
        {% if entries.load == 0 %}
        <textarea class='textIn' name="3comments1"></textarea>
        {% else %}
        <textarea class="textIn" name="3comments1">
{{ entries.store['3comments1'] }}
        </textarea>
        {% endif %}

        <hr>
        <h3>Integración curricular (fórmula del curso)</h3>
        <hr>
        Comentarios:<br>
        
        {% if entries.load == 0 %}
        <textarea class='textIn' name="3comments2"></textarea>
        {% else %}
        <textarea class="textIn" name="3comments2" >
{{ entries.store['3comments2'] }}
        </textarea>
        {% endif %}

        <h3>Tiempo de estudio de los estudiantes</h3>
        <hr>
        Comentarios:<br>
        
        {% if entries.load == 0 %}
        <textarea class='textIn' name="3comments3"></textarea>
        {% else %}
        <textarea class="textIn" name="3comments3" >
{{ entries.store['3comments3'] }}
        </textarea>
        {% endif %}

        <h3>Texto, otras fuentes de información y software</h3>
        <hr>
        Comentarios:<br>
        
        {% if entries.load == 0 %}
        <textarea class='textIn' name="3comments4"></textarea>
        {% else %}
        <textarea class="textIn" name="3comments4" >
{{ entries.store['3comments4'] }}
        </textarea>
        {% endif %}

        <h3>Instalaciones y Recursos</h3>
        <hr>
        Comentarios:<br>
        
        {% if entries.load == 0 %}
        <textarea class='textIn' name="3comments5"></textarea>
        {% else %}
        <textarea class="textIn" name="3comments5" >
{{ entries.store['3comments5'] }}
        </textarea>
        {% endif %}

        <h3>Políticas y Reglas del Curso</h3>
        <hr>
        Comentarios:<br>
        
        {% if entries.load == 0 %}
        <textarea class='textIn' name="3comments6"></textarea>
        {% else %}
        <textarea class="textIn" name="3comments6" >
{{ entries.store['3comments6'] }}
        </textarea>
        {% endif %}

        <h2 class="thickh2">IV. Acciones de mejoramiento implementadas en el período académico</h2>
        <hr>
        <h3>En cuanto a la fórmula y balance de evaluación del curso</h3>
        <hr>
        Comentarios:<br>
        {% if entries.load == 0 %}
        <textarea class='textIn' name="4comments1" ></textarea>
        {% else %}

        <textarea class="textIn" name="4comments1" >
{{ entries.store['4comments1'] }}
        </textarea>

        {% endif %}

        <h3>En cuanto al contenido del curso</h3>
        <hr>
        Comentarios:<br>
        {% if entries.load == 0 %}
        <textarea class='textIn' name="4comments2"></textarea>
        {% else %}
        <textarea class="textIn" name="4comments2" >
{{ entries.store['4comments2'] }}
        </textarea>

        {% endif %}

        <h3>En cuanto a la metodología del curso</h3>
        <hr>
        <h3>En cuanto a recursos e instalaciones</h3>
        <hr>
        Comentarios:<br>
        {% if entries.load == 0 %}
        <textarea class='textIn' name="4comments3"></textarea>
        {% else %}
<textarea class="textIn" name="4comments3" >

            {{ entries.store['4comments3'] }}

        </textarea>

        {% endif %}

        <h2 class="thickh2">V. Recomendaciones sobre desarrollo futuro</h2>
        <hr>
        <h3>Integración curricular (fórmula del curso)</h3>
        <hr>
        Comentarios:<br>
        {% if entries.load == 0 %}
            <textarea class='textIn' name="5comments1"></textarea>

        {% else %}
            <textarea class="textIn" name="5comments1" >
{{ entries.store['5comments1'] }}
            </textarea>
        {% endif %}

        <h3>Calificación de los resultados de estudiantes</h3>
        <hr>
        Comentarios:<br>
        {% if entries.load == 0 %}
            <textarea class='textIn' name="5comments2"></textarea>

        {% else %}
            <textarea class="textIn" name="5comments2" >
{{ entries.store['5comments2'] }}
            </textarea>
        {% endif %}

        <h3>Áreas de interés especial</h3>
        <hr>
        Comentarios:<br>
        {% if entries.load == 0 %}
            <textarea class='textIn' name="5comments3"></textarea>

        {% else %}
            <textarea class="textIn" name="5comments3" >
{{ entries.store['5comments3'] }}
            </textarea>
        {% endif %}

        <h3>Contenido y programación</h3>
        <hr>
        Comentarios:<br>
        {% if entries.load == 0 %}
            <textarea class='textIn' name="5comments4"></textarea>

        {% else %}
            <textarea class="textIn" name="5comments4" >
{{ entries.store['5comments4'] }}
            </textarea>
        {% endif %}

        <h3>Recursos: texto, otras fuentes de información, software, instalaciones, etc.</h3>
        <hr>
        Comentarios:<br>
        {% if entries.load == 0 %}
            <textarea class='textIn' name="5comments5"></textarea>

        {% else %}
            <textarea class="textIn" name="5comments5" >
{{ entries.store['5comments5'] }}
            </textarea>
        {% endif %}
        <h2 class="thickh2">VI. Comentarios Adicionales</h2>
        <hr>   
        Comentarios:<br>
        {% if entries.load == 0 %}
        <textarea class='textIn' name="6comments1"></textarea>
        {% else %}
            <textarea class="textIn" name="6comments1" >
{{ entries.store['6comments1'] }}
            </textarea>
        {% endif %}
        <br>
        <input type=submit value='Guardar'>
        </form>  
        <form name="DescargarPdf" action="{{ url_for('downloadpdf', filename=entries.nompdf) }}" >
             <input type=submit value='Descargar pdf'>
        </form>   
         <form name="botonvolver" action="{{ url_for('asignatura', periodo=entries.detalles[3], codigo=entries.detalles[1], grupo=entries.detalles[2])}}" >
             <input type=submit value='Volver a {{entries.detalles[0]}}'>
        </form>        
        {% endblock %}
    </div>
</body>
